@model demo.Models.ProjectJob

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectJob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLineTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLineTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelTask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserImplement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserImplement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTask)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
